<h1>Log in</h1>

 <%= form_tag sessions_path do %> 


 <div class="field">
    <%= label_tag :username %><br/>
	<%= text_field_tag :username %>
  </div>

  <% unless params[:action] == "edit" %> 
  <div class="field">
    <%= label_tag :password %><br/>
	<%= password_field_tag :password%>
  </div>	
  <% end %>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>

