<p id="notice"><%= notice %></p>

<%  if @user.profile_bg && @user.profile_fg %>
  <style type="text/css">
    body {
        <%= "background-color: " << @user.profile_bg << ";" %>
        <%= "color: " << @user.profile_fg << ";" %>
    }
  </style>
<% end %>


<u><%= @user.username.html_safe %></br></u>
<%= @user.email %></br>
<%= @user.id %></br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= render "shared/shouts" %>