<%= will_paginate @shouts %>
<table class = "table">
  <tr>
	<th>Shouted at</th>
    <th>Shoutings</th>
    <th>Shouter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shouts.each do |shout| %>
  <tr>
	<td><%= shout_formatted_date shout%>
    <td><%= shout.content %></td>
    <td><%= shout.user.username %></td>
	<td><%= time_ago_in_words shout.created_at %> ago</td>
    <!--<td><%= link_to 'Show', shout %></td>-->
		
	<% if shout.user_id == current_user.id %>
    	<td><%= link_to 'Edit Shout', edit_shout_path(shout) %></td>
    	<td><%= link_to 'Delete Shout', shout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	
  </tr>
<% end %>
</table>